<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="Layout(content)">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <title th:text="${title}">Base</title>
</head>
<body class="bg-gray-100">
<div data-th-replace="~{admin/navbar :: navbar}"></div>
<section class="ml-64 p-4 transition-all duration-500">
    <div th:replace="${content}"></div>
</section>

<script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.0/dist/alpine.min.js" defer></script>
<script>
    function setup() {
        return {
            isClosed: false,
            darkMode: false,
            toggleDarkMode() {
                this.darkMode = !this.darkMode;
                document.body.classList.toggle('dark', this.darkMode);
            },
        }
    }
</script>

</body>
</html>
