
<div data-th-fragment="contacts">
  <div id="view_contact_modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <!-- Modal header -->
        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">

          <div>
          <h3 id="contact-name" class="text-xl font-semibold text-gray-900 dark:text-white">
            Terms of Service
          </h3>
          <span class="text-gray-800 dark:text-gray-900 dark:text-white" id="contact-email"></span>
          </div>

          <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
    <span id="heart-icon" class="mr-4 text-red-500 hover:text-red-700">
      <i class="fa-solid fa-heart"></i>
    </span>

            <button onclick="closeContactModal()" data-modal-hide="default-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Close</button>
          </div>
        </div>
        <!-- Modal body -->
        <div class="p-4 md:p-5 space-y-4">
          <div class="container mx-auto px-4 py-8">
            <div class="flex items-center justify-between mb-4">
              <h1 class="text-xl font-bold text-gray-800 dark:text-white" >Contact Details</h1>
              <a id="update-link"> <i class="fa-solid w-6 h-6 fa-pen dark:text-white"></i></a>

            </div>

            <div class="grid grid-cols-1 gap-4">
              <div  class="flex flex-col items-center justify-center">  <img id="contact-img" src="path/to/image.jpg" alt="Contact Image" class="w-20 h-20 rounded-full object-cover mb-4">
                <div>
                  <h2 class="text-xl font-bold text-gray-800 dark:text-white" id="contact-name2"></h2>
                  <p class="text-gray-700 dark:text-white">Software Engineer</p> </div>
              </div>
              <div class="flex items-center justify-between">
                <label for="phone" class="text-gray-700 font-medium dark:text-white">Phone:</label>
                <span id="phone" class="text-gray-800 dark:text-white" ></span>
              </div>
              <div class="flex items-center justify-between">
                <label for="email" class="text-gray-700 font-medium dark:text-white">Email:</label>
                <span id="email" class="text-gray-800 dark:text-white">john.doe@example.com</span>
              </div>
              <div class="flex items-center justify-between">
                <label for="address" class="text-gray-700 dark:text-white  ">Address:</label>
                <pre id="address" class="text-gray-800 overflow-wrap whitespace-pre-wrap dark:text-white"></pre>
              </div>
              <div class="flex items-center justify-between">
                <label for="about" class="text-gray-700 font-medium dark:text-white">About:</label>
                <pre id="about" class="text-gray-800 overflow-wrap whitespace-pre-wrap dark:text-white"></pre>
              </div>
              <div class="flex items-center justify-between">
                <label for="website1" class="text-gray-700 font-medium dark:text-white">Website Link:</label>
                <a  href="https://www.example.com" target="_blank" id="website1" class=" dark:text-white text-blue-500 underline hover:text-blue-700">example.com</a>
              </div>
              <div class="flex items-center justify-between">
                <label for="website2" class="text-gray-700 font-medium dark:text-white">LinkDin:</label>
                <a  href="https://www.yourcompany.com" target="_blank" id="website2" class=" dark:text-white text-blue-500 underline hover:text-blue-700">Your Company</a> </div>
            </div>
          </div>

        </div>
        <!-- Modal footer -->
        <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
          <button onclick="closeContactModal()" data-modal-hide="default-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:text-white">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>