<!--<!DOCTYPE html>-->
<!--<html-->
<!--        lang="en"-->
<!--        th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"-->
<!--&gt;-->
<!--<head>-->
<!--    <title>All Your Users</title>-->
<!--</head>-->
<!--<body>-->
<!--<div id="content">-->
<!--    &lt;!&ndash; sidebar &ndash;&gt;-->

<!--    &lt;!&ndash; user is logged in : sidebar &ndash;&gt;-->

<!--    <div th:if="${loggedInUser}">-->
<!--        <div data-th-replace="~{user/sidebar :: sidebar}"></div>-->
<!--    </div>-->

<!--    <div class="sm:pl-64 pt-20">-->
<!--        <div class="">-->
<!--            <h1 class="text-5xl text-center">All Your Users</h1>-->
<!--            <p class="text-center">List of all Users...</p>-->

<!--            <div class="contacts_container p-5">-->
<!--                <div class="relative overflow-x-auto shadow-md sm:rounded-lg">-->

<!--                    <div data-th-replace="~{message :: messagebox}">-->

<!--                    </div>-->
<!--&lt;!&ndash;                    <form&ndash;&gt;-->
<!--&lt;!&ndash;                            data-th-object="${contactSearchForm}"&ndash;&gt;-->
<!--&lt;!&ndash;                            action=""&ndash;&gt;-->
<!--&lt;!&ndash;                            data-th-action="@{'/user/contacts/search'}"&ndash;&gt;-->
<!--&lt;!&ndash;                    >&ndash;&gt;-->
<!--&lt;!&ndash;                        <div&ndash;&gt;-->
<!--&lt;!&ndash;                                class="flex space-x-3 p-5 items-center justify-start flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900"&ndash;&gt;-->
<!--&lt;!&ndash;                        >&ndash;&gt;-->
<!--&lt;!&ndash;                            &lt;!&ndash; select box   &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;                            <div>&ndash;&gt;-->
<!--&lt;!&ndash;                                <select&ndash;&gt;-->
<!--&lt;!&ndash;                                        data-th-field="*{field}"&ndash;&gt;-->
<!--&lt;!&ndash;                                        id="countries_disabled"&ndash;&gt;-->
<!--&lt;!&ndash;                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"&ndash;&gt;-->
<!--&lt;!&ndash;                                >&ndash;&gt;-->
<!--&lt;!&ndash;                                    <option selected value="">Select Field</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <option value="name">Name</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <option value="phone">Phone</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <option value="email">Email</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                </select>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            <label for="table-search" class="sr-only">Search</label>&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="relative">&ndash;&gt;-->
<!--&lt;!&ndash;                                <div&ndash;&gt;-->
<!--&lt;!&ndash;                                        class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none"&ndash;&gt;-->
<!--&lt;!&ndash;                                >&ndash;&gt;-->
<!--&lt;!&ndash;                                    <svg&ndash;&gt;-->
<!--&lt;!&ndash;                                            class="w-4 h-4 text-gray-500 dark:text-gray-400"&ndash;&gt;-->
<!--&lt;!&ndash;                                            aria-hidden="true"&ndash;&gt;-->
<!--&lt;!&ndash;                                            xmlns="http://www.w3.org/2000/svg"&ndash;&gt;-->
<!--&lt;!&ndash;                                            fill="none"&ndash;&gt;-->
<!--&lt;!&ndash;                                            viewBox="0 0 20 20"&ndash;&gt;-->
<!--&lt;!&ndash;                                    >&ndash;&gt;-->
<!--&lt;!&ndash;                                        <path&ndash;&gt;-->
<!--&lt;!&ndash;                                                stroke="currentColor"&ndash;&gt;-->
<!--&lt;!&ndash;                                                stroke-linecap="round"&ndash;&gt;-->
<!--&lt;!&ndash;                                                stroke-linejoin="round"&ndash;&gt;-->
<!--&lt;!&ndash;                                                stroke-width="2"&ndash;&gt;-->
<!--&lt;!&ndash;                                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"&ndash;&gt;-->
<!--&lt;!&ndash;                                        />&ndash;&gt;-->
<!--&lt;!&ndash;                                    </svg>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                <input&ndash;&gt;-->
<!--&lt;!&ndash;                                        data-th-field="*{value}"&ndash;&gt;-->
<!--&lt;!&ndash;                                        type="text"&ndash;&gt;-->
<!--&lt;!&ndash;                                        id="table-search-users"&ndash;&gt;-->
<!--&lt;!&ndash;                                        class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"&ndash;&gt;-->
<!--&lt;!&ndash;                                        placeholder="Search for users"&ndash;&gt;-->
<!--&lt;!&ndash;                                />&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            <button&ndash;&gt;-->
<!--&lt;!&ndash;                                    type="submit"&ndash;&gt;-->
<!--&lt;!&ndash;                                    class="px-3 py-2 bg-gray-800 text-white rounded"&ndash;&gt;-->
<!--&lt;!&ndash;                            >&ndash;&gt;-->
<!--&lt;!&ndash;                                Search&ndash;&gt;-->
<!--&lt;!&ndash;                            </button>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </form>&ndash;&gt;-->
<!--                    <table-->
<!--                            data-th-if="${totalPages>0}"-->
<!--                            class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"-->
<!--                    >-->
<!--                        <thead-->
<!--                                class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"-->
<!--                        >-->
<!--                        <tr>-->
<!--                            <th scope="col" class="px-6 py-3">Name</th>-->
<!--                            <th scope="col" class="px-6 py-3">Phone</th>-->
<!--                            <th scope="col" class="px-6 py-3">Links</th>-->
<!--                            <th scope="col" class="px-6 py-3">Action</th>-->
<!--                        </tr>-->
<!--                        </thead>-->
<!--                        <tbody>-->
<!--&lt;!&ndash;                        <tr&ndash;&gt;-->
<!--&lt;!&ndash;                                data-th-object="${c}"&ndash;&gt;-->
<!--&lt;!&ndash;                                data-th-each="c  : ${pageContact.getContent()}"&ndash;&gt;-->
<!--&lt;!&ndash;                                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"&ndash;&gt;-->
<!--&lt;!&ndash;                        >&ndash;&gt;-->
<!--&lt;!&ndash;                            <th&ndash;&gt;-->
<!--&lt;!&ndash;                                    scope="row"&ndash;&gt;-->
<!--&lt;!&ndash;                                    class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white"&ndash;&gt;-->
<!--&lt;!&ndash;                            >&ndash;&gt;-->
<!--&lt;!&ndash;                                <img&ndash;&gt;-->
<!--&lt;!&ndash;                                        onerror="this.src='https://static-00.iconduck.com/assets.00/profile-default-icon-2048x2045-u3j7s5nj.png'"&ndash;&gt;-->
<!--&lt;!&ndash;                                        class="w-10 h-10 rounded-full"&ndash;&gt;-->
<!--&lt;!&ndash;                                        data-th-src="@{*{picture}}"&ndash;&gt;-->
<!--&lt;!&ndash;                                        src="/docs/images/people/profile-picture-1.jpg"&ndash;&gt;-->
<!--&lt;!&ndash;                                        alt="Jese image"&ndash;&gt;-->
<!--&lt;!&ndash;                                />&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="ps-3">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div&ndash;&gt;-->
<!--&lt;!&ndash;                                            class="text-base font-semibold"&ndash;&gt;-->
<!--&lt;!&ndash;                                            data-th-text="*{name}"&ndash;&gt;-->
<!--&lt;!&ndash;                                    >&ndash;&gt;-->
<!--&lt;!&ndash;                                        Neil Sims&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div&ndash;&gt;-->
<!--&lt;!&ndash;                                            class="font-normal text-gray-500"&ndash;&gt;-->
<!--&lt;!&ndash;                                            data-th-text="*{email}"&ndash;&gt;-->
<!--&lt;!&ndash;                                    >&ndash;&gt;-->
<!--&lt;!&ndash;                                        neil.sims@flowbite.com&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            </th>&ndash;&gt;-->
<!--&lt;!&ndash;                            <td class="px-6 py-4">&ndash;&gt;-->
<!--&lt;!&ndash;                                <i class="fa-solid fa-phone w-4 h-4"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                <span data-th-text="*{phoneNumber}"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                            </td>&ndash;&gt;-->
<!--&lt;!&ndash;                            <td class="px-6 py-4">&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="flex items-center">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div&ndash;&gt;-->
<!--&lt;!&ndash;                                            data-th-if="*{favorite}"&ndash;&gt;-->
<!--&lt;!&ndash;                                            class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"&ndash;&gt;-->
<!--&lt;!&ndash;                                    ></div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div&ndash;&gt;-->
<!--&lt;!&ndash;                                            data-th-unless="*{favorite}"&ndash;&gt;-->
<!--&lt;!&ndash;                                            class="h-2.5 w-2.5 rounded-full bg-red-500 me-2"&ndash;&gt;-->
<!--&lt;!&ndash;                                    ></div>&ndash;&gt;-->

<!--&lt;!&ndash;                                    <a data-th-href="@{*{websiteLink}}" target="_blank"&ndash;&gt;-->
<!--&lt;!&ndash;                                    ><i class="fa-solid w-6 h-6 fa-link"></i&ndash;&gt;-->
<!--&lt;!&ndash;                                    ></a>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <a data-th-href="@{*{linkedInLink}}" target="_blank">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <i class="fa-brands w-6 h-6 fa-linkedin"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            </td>&ndash;&gt;-->
<!--&lt;!&ndash;                            <td class="px-6 py-4">&ndash;&gt;-->
<!--&lt;!&ndash;                                <div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <a th:onclick="deleteContact([[${c.id}]])" style="cursor: pointer">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <i class="fa-solid w-6 h-6 fa-trash"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <a  data-th-href="@{'/user/contacts/update-view/'+*{id}}"> <i class="fa-solid w-6 h-6 fa-pen"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <button  th:onclick="loadContactData([[${c.id}]])"> <i class="fa-solid fa-eye"></i></button>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            </td>&ndash;&gt;-->
<!--&lt;!&ndash;                        </tr>&ndash;&gt;-->
<!--                        </tbody>-->
<!--                    </table>-->

<!--                    &lt;!&ndash; pagination component  &ndash;&gt;-->
<!--                    <div-->
<!--                            data-th-if="${totalPages>0}"-->
<!--                            class="pagination_container bg-white dark:bg-gray-800 p-5 text-center"-->
<!--                    >-->
<!--                        <nav aria-label="Page navigation example">-->
<!--                            <ul class="inline-flex -space-x-px text-base h-10">-->
<!--                                <li data-th-unless="${pageContact.first}">-->
<!--                                    <a-->
<!--                                            data-th-href="@{'/user/contacts?size='+${pageSize}+'&page=' + ${pageContact.number-1}}"-->
<!--                                            href="#"-->
<!--                                            class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"-->
<!--                                    >Previous</a-->
<!--                                    >-->
<!--                                </li>-->
<!--                                <li-->
<!--                                        data-th-each="index :  ${#numbers.sequence(0,pageContact.totalPages-1)}"-->
<!--                                >-->
<!--                                    <a-->
<!--                                            data-th-href="@{'/user/contacts?size='+${pageSize}+'&page='+${index}}"-->
<!--                                            href="#"-->
<!--                                            data-th-classappend="${index==pageContact.number? 'bg-blue-50  dark:bg-gray-600' : 'bg-white dark:bg-gray-800'}"-->
<!--                                            class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"-->
<!--                                    >-->
<!--                                        <span data-th-text="${index+1}"></span>-->
<!--                                    </a>-->
<!--                                </li>-->

<!--                                <li data-th-unless="${pageContact.last}">-->
<!--                                    <a-->
<!--                                            data-th-href="@{'/user/contacts?size='+${pageSize}+'&page=' + ${pageContact.number+1}}"-->
<!--                                            href="#"-->
<!--                                            class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"-->
<!--                                    >Next</a-->
<!--                                    >-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </nav>-->
<!--                    </div>-->
<!--                    <h1-->
<!--                            class="text-5xl text-center dark:bg-gray-800 dark:text-white bg-white p-4"-->
<!--                            data-th-if="${totalPages<=0}"-->
<!--                    >-->
<!--                        No result found-->
<!--                    </h1>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div data-th-replace="~{user/contact_model :: contacts }"></div>-->

<!--    </div>-->



<!--</div>-->

<!--<script data-th-src="@{'/js/contacts.js'}"></script>-->
<!--<script>-->
<!--    console.log("this is profile page");-->
<!--</script>-->
<!--</body>-->
<!--</html>-->
