<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <title>Home page</title>
  </head>
  <body>
    <div id="content">
      <section class="homepage" id="home">
        <div class="content">
          <div class="text">
            <h1>Smart Contact Manager</h1>
            <p>
              Welcome to our Smart Contact Manager! Streamline your contact management process and stay organized with our intuitive web application. Easily store, update, and access all your important contacts in one place.
          </div>
          <a data-th-href="@{'/register'}">Get Start</a>
        </div>
      </section>

    </div>
    <script>
      console.log("Home page");
    </script>
  </body>
</html>
